@model RestaurauntApp.Models.Order

@{
    ViewData["Title"] = "Cart";
}

<link href="@Url.Content("~/css/Cart/Cart/light.css")" rel="stylesheet" type="text/css" />

<body class="main-container">
    <h2>Cart</h2>
    <p id="emptyCartMessage" class="empty-cart-message" style="display: none;">Your cart is empty.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="cartItemsTableBody">
            <!-- Элементы корзины будут добавлены сюда динамически -->
        </tbody>
    </table>
    <!-- Discount code input field -->
    <div>
        <label for="discountCode">Enter Discount Code:</label>
        <input type="text" id="discountCode" name="discountCode">
        <button onclick="applyDiscount()">Apply</button>
    </div>

    <p id="totalPrice" class="total-price">Total Price:</p>


    <div style="display: flex; justify-content: center;">
        <form asp-action="Checkout" method="Get">
            <button type="submit" class="btn_checkout">Checkout</button>
        </form>

    </div>
</body>


<script type="text/javascript">
    function displayCartItems() {
        let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        let totalPrice = 0;

        let tableBody = document.getElementById("cartItemsTableBody");
        tableBody.innerHTML = "";

        let emptyCartMessage = document.getElementById("emptyCartMessage");
        let checkoutButton = document.querySelector(".btn_checkout");
        let table = document.querySelector(".table");
        let totalPriceElement = document.getElementById("totalPrice");

        if (cartItems.length === 0) {
            emptyCartMessage.style.display = "block";
            checkoutButton.style.display = "none";
            table.style.display = "none";
            totalPriceElement.innerText = "";
            return;
        } else {
            emptyCartMessage.style.display = "none";
            checkoutButton.style.display = "inline-block";
            table.style.display = "table";
        }

        cartItems.forEach(item => {
            let row = document.createElement("tr");
            row.classList.add("cart-item-row");

            row.innerHTML = `
        <td>${item.name}</td>
        <td>${item.quantity}</td>
        <td>${item.price}</td>
<td>
    <div class="button-wrapper">
        <span class="plusBtn" onclick="plusItem('${item.id}')">+</span>
        <span class="minusBtn" onclick="minusItem('${item.id}')">-</span>
        <span class="remove_cmpl_btn" onclick="removeItem('${item.id}')"></span>
    </div>
</td>
    `;
            tableBody.appendChild(row);
            totalPrice += item.price * item.quantity;
        });

        totalPriceElement.innerText = "Total Price: " + totalPrice;
    }

    // Вызываем функцию отображения корзины при загрузке страницы
    displayCartItems();

    function removeItem(itemId) {
        console.log("Item ID to remove:", itemId);
        if (confirm('Are you sure you want to delete this item?')) {
            let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            let index = cartItems.findIndex(item => item.id === parseInt(itemId));
            console.log("Item ID in cartItems to remove:", index);
            if (index !== -1) {
                cartItems.splice(index, 1);
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
                window.location.reload();
            }
        }
    }

    function plusItem(itemId) {
        console.log("Item ID to add:", itemId);
        let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        let index = cartItems.findIndex(item => item.id === parseInt(itemId));
        console.log("Item ID in cartItems to add:", index);

        if (index !== -1) {
            // Найден элемент в корзине
            cartItems[index].quantity += 1; // Увеличиваем количество товара на 1
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
            window.location.reload();
        } else {
            // Элемент не найден в корзине
            console.log("Item not found in cartItems");
        }
    }
    function minusItem(itemId) {
        console.log("Item ID to minus:", itemId);
        let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        let index = cartItems.findIndex(item => item.id === parseInt(itemId));
        if (index !== -1) {
            // Найден элемент в корзине
            if (cartItems[index].quantity > 1) {
                cartItems[index].quantity -= 1;
            }
            else {

                removeItem(itemId);
            }
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
            window.location.reload();
        } else {
            // Элемент не найден в корзине
            console.log("Item not found in cartItems");
        }
    }

    function createOrderFromCart() {
        let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        cartItems.forEach(cartItem => {
            console.log(cartItem);
            // Создание объекта orderItemDTO на основе данных из localStorage
            let orderItemDTO = {
                MenuItemId: cartItem.id,
                Quantity: cartItem.quantity,
                Name: cartItem.name,
                Price: cartItem.price
            };
            console.log(orderItemDTO);
            console.log(JSON.stringify({ orderItemDTO: orderItemDTO }));
            fetch('/Cart/AddToOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderItemDTO)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Fail adding item to order');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        // Очистка корзины после успешного добавления всех элементов в заказ
        clearCart();
    }

    function applyDiscount() {
        let discountCode = document.getElementById("discountCode").value;
        confirm("Discount code entered: " + discountCode);
    }

</script>