@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/neobrutalismcss@latest" />
    <style>
        body {
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            position: relative;
            overflow: hidden;
        }

        .container::before {
            content: '';
            position: absolute;
            top: -50px;
            left: -50px;
            width: calc(100% + 100px);
            height: calc(100% + 100px);
            background-image: linear-gradient(45deg, #ff6600, #ff0000);
            opacity: 0.8;
            transform: rotate(45deg);
            z-index: -1;
            border-radius: 50%;
            /* Добавляем скругление градиенту */
        }

        .dialog {
            background-color: #ffc107;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            padding: 30px;
            margin-top: 20px;
            position: relative;
            z-index: 1;
            display: inline-block;
            /* Превращаем в блочный элемент */
        }

        .dialog p {
            font-size: 18px;
            color: #333;
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            /* Выравнивание элементов по центру по горизонтали */
        }

        .button-container .nb-button {
            margin: 0 5px;
        }

        h1 {
            color: #000000;
            /* Изменяем цвет заголовка */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div class="dialog">
            <p>Congratulations! You are one step closer to amazing food.</p>
            <p>We have received your order and it will be processed soon!</p>
            <div class="button-container">
                <button class="nb-button green" onclick="redirectToOrders()">OK</button>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    function redirectToOrders() {
        window.location.href = '/order/GetOrders';
    }
</script>