<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABLKrylxg-nSdQlts2dq5S8XICUIXaHN4&callback=initMap" async defer></script>
    <script>
      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 40.414953, lng: 49.853042 },
          zoom: 12,
          styles: [
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ebe3cd"
                }
              ]
            },
            {
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#009CA6" // Изумрудный цвет
                }
              ],
              "featureType": "water" // Применить только к элементам типа water
            },
         
          ]
        });
        
        // Добавление маркера
        const stepItAcademyLocation = { lat: 40.410279, lng: 49.842957 };
        new google.maps.Marker({
          position: stepItAcademyLocation,
          map: map,
          title: 'Step IT Academy Baku' // Название маркера
        });
      }
    </script>
  </head>
  <body>
    <div id="map" style="height: 400px; width: 100%;"></div>
  </body>
</html>