@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }

        section {
            position: relative;
            height: 77.6vh;
            background: url('https://i.pinimg.com/originals/11/29/1b/11291b781cd4d7d055d2f5cbe54a42cc.jpg') center/cover no-repeat;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .text-overlay {
            font-size: 30px;
            z-index: 1;
            word-wrap: break-word;
        }

        .intro-text {
            font-size: 20px;
            margin-top: 20px;
            padding: 10px;
        }

        .menu {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 1em;
            text-align: center;
        }

        .menu a {
            color: white;
            text-decoration: none;
            padding: 0.5em 1em;
            margin: 0 1em;
        }

        @@media (max-width: 768px) {
            .text-overlay {
                font-size: 20px;
            }

            .intro-text {
                font-size: 16px;
                margin-top: 10px;
            }
        }

        h2 {
            color: white;
        }
    </style>
</head>


<body>
    <section>
        <div class="overlay"></div>
        <div class="text-overlay">
            <h2>Welcome to Pizza Haven!</h2>
            <p class="intro-text">Indulge in our mouthwatering pizzas made with the finest ingredients.</p>
        </div>
    </section>
</body>
