@{
    ViewData["Title"] = "Profile";
}


<title>@ViewData["Title"]</title>
<link href="@Url.Content("~/css/Account/Profile/light.css")" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
    <div style="margin-top:50px;" class="profile-container">
        <div class="profile-info">
            <h2 class="meet-user">Welcome to Your Profile, <span class="meet-username">@User.Identity.Name !</span></h2>
            <p style="font-size: 1.1rem; margin-top: 10px;">We're glad to have you here. Explore your profile and feel
                free to make any changes you need.</p>
        </div>

        <button class="pushable" onclick="openChangePassword()">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
                Change Password
            </span>
        </button>
        <form id="deleteForm">
            <!-- Button with custom styles -->
            <button class="button-82-pushable delete-button" onclick="submitDelete()" type="button" role="button">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text">
                    Delete Account
                </span>
            </button>
        </form>
    </div>
    </div>

    <div id="change-password-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
        </div>
    </div>
</body>

<script>
    function openChangePassword() {
        fetch('/Account/ChangePassword', {
            method: 'GET'
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Ошибка загрузки данных.');
                }
            })
            .then(data => {
                const modalContent = document.querySelector('#change-password-modal .modal-content');
                modalContent.innerHTML = data;
                modalContent.innerHTML += '<button type="button" class="modal-close" onclick="closeModal()">&times;</button>';
                const modal = document.getElementById('change-password-modal');
                modal.style.display = 'block';
                var savedTheme = getCookie("theme");
                if (savedTheme) {
                    changeTheme(savedTheme);
                }
            })
            .catch(error => {
                console.error('Ошибка загрузки данных: ' + error);
            });
    }

    function closeModal() {
        const modal = document.getElementById('change-password-modal');
        modal.style.display = 'none';
    }

  function submitDelete() {
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
    }).then((result) => {
        if (result.isConfirmed) {
            var form = document.getElementById('deleteForm');
            var formData = new FormData(form);
            fetch('/Account/Delete', {
                method: 'DELETE',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your account has been deleted.",
                        icon: "success"
                    }).then(() => {
                        window.location.href = '/Account/LogOut';
                    });
                } else if (response.status === 404) {
                    alert('Account not found.');
                } else {
                    alert('Failed to delete account.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
}

</script>