.CheckoutForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 15px;
}
.main-container {
  color: #ddd;
}
.labelCheckout {
  color: #111;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button.btn_checkout {
  width: 100%;
  background-color: #ea4c89;
  border: 2px solid #111;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

button.btn_checkout:hover {
  background-color: #ff4081;
}

.validator {
  color: red;
  font-weight: bold;
}
