.modal-content {
    background-color: #333; /* Изменен цвет фона на темный */
    color: #f9f9f9; /* Изменен цвет текста на светлый */
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
}

.change-password-form {
    width: 300px;
    margin: auto;
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.validation-summary {
    color: red;
    margin-bottom: 20px;
}

.btn {
    background-color: #b30048;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d11975;
}

.status-message {
    color: #008000;
    font-weight: bold;
    margin-bottom: 20px;
}

.changeBtn-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.changeBtn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.changeBtn-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.changeBtn-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .changeBtn-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.changeBtn-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.changeBtn-pushable:hover .changeBtn-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.changeBtn-pushable:active .changeBtn-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.changeBtn-pushable:hover .changeBtn-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.changeBtn-pushable:active .changeBtn-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.changeBtn-pushable:focus:not(:focus-visible) {
    outline: none;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-close {
    align-items: center;
    background-color: #FFCF00;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-close:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.modal-close:hover:after {
    transform: translate(0, 0);
}

.modal-close:active {
    background-color: #ffbf00;
    outline: 0;
}

.modal-close:hover {
    outline: 0;
}
.passwordChange-label{
    color: white;
}
.modal-content {
    background-color: #111; /* Темный цвет фона */
    color: #f9f9f9; /* Светлый цвет текста */
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
}
