<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - RestaurantApp</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://db.onlinewebfonts.com/c/a0faafb86752ddff4c3ec18939c68830?family=Roc+Grotesk+W05+Wide"
    rel="stylesheet">
@RenderSection("Styles", required: false)

<style>
    /* Reset default margin and padding */
    body,
    h1,
    h2,
    h3,
    p,
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    body {
        min-width: 500px;
        background-color: #000000;
    }

    body {
        font-family: "Roc Grotesk W05 Wide", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        background-color: #f2f2f2;
        color: #333;
    }

    header {
        background-color: #080708;
        color: white;
        text-align: center;
        padding: 1em;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        background-color: #080708;
        color: white;
        text-align: center;
        padding: 1em;
        z-index: 100;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    nav {
        background-color: #080708;
        padding: 0.5em;
        text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 0.5em 1em;
        margin: 0 1em;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 22px;
    }

    nav a:not(.logo-link):hover {
        color: yellow;
        background-color: #080708;
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0px 0px 10px yellow;
    }

    .logo-link {
        align-items: center;
        padding: 0.5em 1em;
        display: flex;
        justify-content: flex-start;
    }

    .logo-image {
        margin-right: 10px;
        vertical-align: middle;
    }

    .logo-text {
        vertical-align: middle;
    }

    footer {
        background-color: #080708;
        color: white;
        text-align: center;
        padding: 1em;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex-grow: 1;
        /* Allow the main content to grow and push the footer to the bottom */
    }

    @@media (max-width: 768px) {

        /* Adjust font sizes for smaller screens */
        body {
            font-size: 12px;
        }

        nav a {
            font-size: 18px;
        }

        .logo-link {
            flex-direction: column;
            align-items: center;
        }

        .logo-image {
            margin-right: 0;
            margin-bottom: 5px;
        }

        .logo-text {
            font-size: 16px;
        }

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        nav a:not(.logo-link) {
            margin: 5px 0;
        }
    }
</style>

<body>
    <div class="page-container">
        <header class="sticky-header">
            <nav>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo-link">
                        <img src="@Url.Content("~/Assets/icon.png")" alt="Pizza Haven Logo" width="50" height="50"
                            class="logo-image">
                        <span class="logo-text">Pizza Haven</span>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Menu" asp-action="GetAll">Menu</a>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Menu" asp-action="Create">Create menu item</a>
                    }
                    @if (this.User?.Identity?.IsAuthenticated == false)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    }
                    @if (this.User?.Identity?.IsAuthenticated == true)
                    {
                        <a asp-area="" asp-controller="Cart" asp-action="Cart">Cart</a>
                         <a asp-area="" asp-controller="Order" asp-action="GetOrders">Orders</a>
                        <a asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                        <a asp-area="" asp-controller="Account" asp-action="LogOut">Logout</a>
                    }
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

<footer>
    <p>&copy; 2024 Pizza Haven. All rights reserved.</p>
</footer>

</html>
