@model MenuItem
@{
    Layout = null;
}
<link href="@Url.Content("~/css/Menu/Edit/light.css")" rel="stylesheet" type="text/css" />
<h2 class="editLabel">Edit Menu Item</h2>

<form class="editForm" asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id" />

    <div class="form-group">
        <label class="dark-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label class="dark-label" asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label class="dark-label" asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
    </div>
 <div class="checkbox-wrapper-14">
    <div class="form-group">
        <label class="dark-label" asp-for="IsVegetarian"></label>
        <input asp-for="IsVegetarian"  class="switch" class="form-control" />
    </div>
  </div>

    <div class="form-group">
        <label class="dark-label" asp-for="Calories"></label>
        <input asp-for="Calories" class="form-control" />
    </div>

    <div class="form-group">
        <label class="dark-label" asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
