@{
    ViewData["Title"] = "GetAll";
}

<h1>@ViewData["Title"]</h1>


<h2>Menu Item Details</h2>

<dl>
    <dt>Name:</dt>
    <dd>@Model.Name</dd>

    <dt>Description:</dt>
    <dd>@Model.Description</dd>

    <!-- Добавьте остальные поля по необходимости -->
</dl>